@media (min-width:840px){
  section .buttons{
    max-width: 640px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

}

@media (min-width: 1200px){
  .desktop{
    display: initial;
  }

}

@media screen and (max-width: 1200px) {
  #menuBtn {
    display: block;
  }

  .center a{
    display: none;
  }

  section .shop-now-button{
    max-width: 640px;
    margin-right: 200px;
  }

}

@media only screen and (max-width: 840px) {
  .shop-now-button {
    width: 85%;
    margin: 20px auto;
    margin-top: 487px; 
    margin-left: 50px;
    margin-right: auto;
  }
}
